:root {
    --borderStyle: 5px solid;
    --marginTop: 225px;
    --cardBackgroundColor: gray;
    --titleBackgroundColor: teal;
    --textBackgroundColor: orange;
    --titleFontSize: 40px;
    --textFontSize: 32px;
}
body {
    background-image: repeating-conic-gradient(gray, orange 10%, yellow 10%);
}

header {
    text-align: center;
}

.header{
    color: black;
    font-size: var(--titleFontSize);
    background-color: var(--cardBackgroundColor);
    border: var(--borderStyle);
    border-radius: 5px;
}

.header .title {
    background-color: var(--titleBackgroundColor);
    border: var(--borderStyle);
}

.header h1 {
    display: inline-block;
}

.header .nav-bar {
    text-align: center;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    border: var(--borderStyle );
    background-color: orange;
}

.header .charles {
    color: orange;
}

.about-me {
    background-color: var(--cardBackgroundColor);
    border: var(--borderStyle);
    margin-top: var(--marginTop);
}

.about-me .about-me-title {
    font-size: var(--titleFontSize);
    border: var(--borderStyle);
    background-color: var(--titleBackgroundColor);
    float: inline-start;
}

.about-me .about-me-text {
    font-size: var(--textFontSize);
    border: var(--borderStyle);
    background-color: orange;
    display: block;
    margin-top: 200px;
}

.about-me .program-pic {
    border: var(--borderStyle);
    float: left;
    height: 350px;
}

.previous-work {
    border: var(--borderStyle); 
    margin-top: var(--marginTop);
    background-color: var(--cardBackgroundColor);
}

.previous-work .previous-work-title {
    font-size: var(--titleFontSize);
    border: var(--borderStyle);
    background-color: var(--titleBackgroundColor);
}

.previous-work .study-guide-title, .second-app-title {
    font-size: var(--textFontSize);
    background-color: var(--textBackgroundColor);
    border: var(--borderStyle);
}

.previous-work .first-web-app {
    width: 95%;
    border: var(--borderStyle);
}

.previous-work .second-web-app {
    width: 75%;
    border: var(--borderStyle);
}

.contact-info {
    background-color: var(--cardBackgroundColor);
    border: var(--borderStyle);
    margin-top: var(--marginTop);
}

.contact-info h2 {
    border: var(--borderStyle);
    background-color: var(--titleBackgroundColor);
    font-size: var(--titleFontSize);
}

.contact-info li {
    border: var(--borderStyle);
    background-color: var(--textBackgroundColor);
    font-size: var(--textFontSize);
}

@media (max-width: 1300px){
    .contact-info, .about-me, .previous-work, {
        width: 48%;
    }
}

@media (max-width: 900px) {
    .contact-info, .about-me, .previous-work {
        width: 100%
    }
}